body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 10px;
}

h2 {
    color: #333;
}

video {
    border: 2px solid #ccc;
    border-radius: 10px;
    width: 100%;
}
